<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deleting an item from a list</title>

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id ="app" >
    <ul id="todo">
        <li v-for="(item, index) in items">
            {{ item.message }}
            <button v-on:click="remove(index)">X</button>
        </li>
    </ul>

    <input v-model="newItem" v-on:keydown="handleKeyDown" placeholder="New item name">
    <button v-on:click="add">Add item</button>
    <button v-on:click="remove(0)">Delete first item</button>

</div>

<script>

  var app = new Vue({
    el: '#app',

    data: {
      newItem: null,
      items: [
        { message: 'shopping' },
        { message: 'going to movie' },
        { message: 'doing homework'}
      ]
    },
    methods: {
      add: function() {
        if (this.newItem)
            this.items.push({ message: this.newItem });
        this.newItem = null;
      },

      remove: function(i) {
        this.items.splice(i, 1);
      },

      handleKeyDown: function (e) {
        if ((e.which || e.keyCode) === 13) this.add();
      }
    }
  });
</script>

</body>
</html>